/* docs/css/extra.css */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: #1e2939 !important;
    color: #e0e0e0 !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    color: #ffffff !important;
}

nav, header {
    background-color: #101828 !important;
}

.md-nav__list, .md-nav__link, .md-nav__link--active {
    box-shadow: none !important;
    background-color: #1e2939 !important;
}
